[submodule "1.FS/C-Programming/Default/thirdparty/flag.h"]
	path = 1.FS/C-Programming/Default/thirdparty/flag.h
	url = https://github.com/tsoding/flag.h.git
[submodule "1.FS/C-Programming/Default/thirdparty/nob.h"]
	path = 1.FS/C-Programming/Default/thirdparty/nob.h
	url = https://github.com/tsoding/nob.h.git
