.DS_Store
.idea
*.log
tmp/
build/
*.exe
*.out
*.o
nob
nob.old

# Latex
*.aux
*.lof
*.lot
*.fls
*.log
*.out
*.toc
*.fmt
*.fot
*.cbl
*.cbl
*.synctex.gz
*.fdb_latexmk
*.blg
*.bbl
*.brf
*.nlog
*.nlst
*.ilg
*.ind
*.idx
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glsdefs
*.loa
*.lol
*.maf
*.mtc
*.mtc0
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.run.xml
*.bcf
*.flc
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
*.fdb_latexmk(busy)
*.aux(busy)
*.toc(busy)
*.log(busy)
*.out(busy)
*.blg(busy)
*.bbl(busy)
*.synctex.gz(busy)
*.fdb_latexmk(busy)